<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleform.css">
    <title>Cadastro Tutores</title>
</head>

<body>
    <header>
        <h1>Sistema Vivet</h1>
    </header>

    <nav class="menu">
        <ul>
            <li><a href="http://localhost:5000/">Inicio</a></li>
            <li><a href="http://localhost:5000/cadastrar/tutores">Cadastro Tutores</a></li>
            <li><a href="http://localhost:5000/lista/tutores">Lista turores</a></li>
            <li><a href="http://localhost:5000/cadastrar/pets">Cadastro Animais</a></li>
            <li><a href="http://localhost:5000/lista/pets">Lista Animais</a></li> 
        </ul>

        <form>
            <input type="search" name="inputpesquisa" placeholder="Pesquise aqui">
        </form>
    </nav>
    
    <div class="container">
        <form action="/cadastro/tutores" method="post">
            <fieldset>
            <!--Campo usado agrupar dados relacionados em um formulário--> 
                <legend>Cadastro de Tutores</legend>  
            <!--Define uma legenda para o elemento <fieldset> -->
                <label for="inputCpfTutor">CPF:</label><br>
                <input type="text" name="inputCpfTutor" id="inputCpfTutor" class="form-control" placeholder="Digite o CPF" required ><br>
                <label for="inputNameTutor" class="sr-only">Primeiro Nome: </label><br>    
                <input type="text" name="inputNameTutor" id="inputNameTutor" class="form-control" placeholder="Digite o primeiro nome" required autofocus><br>
                <label for="inputLastNameTutor">Sobrenome:</label><br>
                <input type="text" name="inputLastNameTutor" id="inputLastNameTutor" class="form-control" placeholder="Digite o sobrenome" required ><br>
                <label for="inputEmailTutor">Email:</label><br>
                <input type="text" name="inputEmailTutor" id="inputEmailTutor" class="form-control" placeholder="Digite o email" required ><br>
                <label for="inputAddressTutor">Endereco:</label><br>
                <input type="text" name="inputAddressTutor" id="inputAddressTutor" class="form-control" placeholder="Digite o endereco"required ><br>
                <label for="inputPhoneTutor">Telefone:</label><br>
                <input type="text" name="inputPhoneTutor" id="inputPhoneTutor" class="form-control"  placeholder="Digite o numero de telefone" required ><br>
                <!--Pattern especifica uma expressão regular na qual o valor do elemento <input> é verificado-->
                <label for="inputAgeTutor">Idade:</label><br>
                <input type="number" name="inputAgeTutor" id="inputAgeTutor" class="form-control" placeholder="Digite a idade">
                <button id="cadastrar" type="submit">Cadastrar</button>            
            </fieldset>
        </form>
    </div>
    
    <div>
    <p class="mensagem">{{mensagem}}</p>
    </div>
    <footer>
        <p>©Copyright 2024 by Vitoria Fonseca. All rights reserved</p>
    </footer>
</body>
</html>