<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/styleindex.css">
        <title>Sistema Vivet</title>
    </head>

    <body>
        <header>
            <h1>Sistema Vivet</h1>
        </header>

        <nav class="menu">
            <ul>
                <li><a href="http://localhost:5000/">Inicio</a></li>
                <li><a href="http://localhost:5000/cadastrar/tutores">Cadastro Tutores</a></li>
                <li><a href="http://localhost:5000/lista/tutores">Lista turores</a></li>
                <li><a href="http://localhost:5000/cadastrar/pets">Cadastro Animais</a></li>
                <li><a href="http://localhost:5000/lista/pets">Lista Animais</a></li>   
            </ul>

            <form>
                <input type="search" name="inputpesquisa" placeholder="Pesquise aqui">
            </form>
        </nav>

        <div class="container">
            
        </div>
        
        <footer>
            <p>©Copyright 2024 by Vitoria Fonseca. All rights reserved</p>
        </footer>
    </body>
</html>