<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styleform.css">
    <title>Cadastro Tutores</title>
</head>

<body>
    <header>
        <h1>Sistema Vivet</h1>
    </header>

    <nav class="menu">
        <ul>
            <li><a href="http://localhost:5000/">Inicio</a></li>
            <li><a href="http://localhost:5000/cadastro">Cadastro Tutores</a></li>
            <li><a href="http://localhost:5000/lista/tutores">Lista turores</a></li>
            <li><a href="http://localhost:5000/cadastro/pets">Cadastro Animais</a></li>
            <li><a href="http://localhost:5000/lista/pets">Lista Animais</a></li>  
        </ul>

        <form>
            <input type="search" name="inputpesquisa" placeholder="Pesquise aqui">
        </form>
    </nav>
    
    <div class="container">
        <table>
            <tr>
                <td>Nome</td><td>Sobrenome</td><td>Endereco</td><td>Telefone</td><td>CPF</td><td>Idade</td>
            </tr>
            
            {% for item in Lista %}
            <tr>
                <th><a href="/listar/pets/{{item[0]}}">{{item[0]}}</a></th>
                <th>{{item[1]}}</th>
                <th>{{item[2]}}</th>
                <th>{{item[3]}}</th>
                <th>{{item[4]}}</th>
                <th>{{item[5]}}</th>
                <th>{{item[6]}}</th>
                <th>{{item[7]}}</th>
                <th>{{item[8]}}</th>
            </tr>
            {% endfor %}
        </table>
    </div>
    <footer>
        <p>©Copyright 2024 by Vitoria Fonseca. All rights reserved</p>
    </footer>

</body>
</html>
    